.tile {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hover-label {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  display: none; 
  pointer-events: none;
}


.tile:hover .hover-label,
.selected-tile .hover-label {
  display: block;
}

.selected-tile {
  border: 3px solid yellow;
  box-sizing: border-box;
}

.white-tile {
  background-color: #b2afaf;
}

.black-tile {
  background-color: #555;
}

.valid-move {
  background-color: lightgreen; 
}